body{
    background:black;
}
#escolhas{
    margin:250px 0 0 500px;
    color:aliceblue;
    display: block;
    font-size: 30px;
    
}
input{
    display:inline-block;
    font-size: 30px;
    
}
#envio{
    display:grid;
    margin:50px 0 0 350px;
    width:400px
}